.home-container {
  background-image: url(./7063786.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  height: 750px;
}

.title-container {
  position: relative;
  top: 320px;
  left: -340px;
  min-width: 120px;
  align-items: center;
  justify-content: center;
  text-align: left;
  text-align: center;
  
}

.title {
  color: #2a4365;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  align-self: center;
  width: fit-content;
}

.content {
  color: #2a4365;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  align-self: center;
  width: fit-content;
}

.service-container{
 margin:50px;
}

.dev-ops-container {
  margin-top: 10vh;
  font-size: 24px;
  font-weight: 400;
  font-weight: bolder;
  color: #2a4365;
}

.deveops-image-container {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: #2a4365;
  width: 45vb;
  height: 45vh;
  background-color: rgba(21, 166, 224, 0.085);
  background-image: url("");
  border-top-right-radius: 30%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 40%;
  border-top-left-radius: 20%;
}

.deveops-image-inner-container {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: #2a4365;
  width: 55vb;
  height: 45vh;
  overflow: hidden;
  margin-right: 250px;
  transform: rotate(0deg) rotate(80deg);
  background-color: rgba(21, 166, 224, 0.085);
  border-top-right-radius: 30%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 40%;
  border-top-left-radius: 20%;
}

.deveops-content-container {
  min-width: 600px;
  width: 950px;
  font-size: 18px;
  font-weight: 400;
  color: #2a4365;
  text-align: left;
  justify-content: left;
  margin-top: 25px;
}

.kub-container {
  margin-top: 5vh;
  font-size: 24px;
  font-weight: bolder;
  color: #2a4365;
}

.kub-image-container {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: #2a4365;
  width: 45vb;
  min-height: 45vh;
  background-color: rgba(21, 166, 224, 0.085);
  border-top-right-radius: 30%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 40%;
  border-top-left-radius: 30%;
  background-image: url("");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.kub-image-inner-container {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: #2a4365;
  width: 55vb;
  height: 45vh;
  overflow: hidden;
  margin-right: 250px;
  transform: rotate(0deg) rotate(80deg);
  background-color: rgba(21, 166, 224, 0.085);
  border-top-right-radius: 30%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 40%;
  border-top-left-radius: 20%;
}

.kub-content-container {
  min-width: 600px;
  width: 950px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 25px;
  color: #2a4365;
  text-align: left;
  justify-content: left;
}

.cloud-container {
  margin-top: 5vh;
  font-size: 24px;
  font-weight: bolder;
  color: #2a4365;
}

.cloud-image-container {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: #2a4365;
  width: 45vb;
  height: 45vh;
  background-color: rgba(21, 166, 224, 0.085);
  border-top-right-radius: 30%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 40%;
  border-top-left-radius: 30%;
  background-image: url();
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.cloud-image-inner-container {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: #2a4365;
  width: 55vb;
  height: 45vh;
  overflow: hidden;
  margin-right: 250px;
  transform: rotate(0deg) rotate(80deg);
  background-color: rgba(21, 166, 224, 0.085);
  border-top-right-radius: 30%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 40%;
  border-top-left-radius: 20%;
}

.cloud-content-container {
  min-width: 600px;
  width: 950px;
  font-size: 18px;
  font-weight: 400;
  color: #2a4365;
  text-align: left;
  justify-content: left;
  margin-top: 25px;
}

.conent-title {
  font-weight: bolder;
}

.conent-text {
  font-size: 18px;
  font-weight: 400;
}

.read-button {
  border-radius: 10px;
  padding: 8px;
  min-width: 120px;
  margin-top: 15px;
  color: #2a4365;
  font-size: 18px;
  font-weight: 400;
  background-color: azure;
  font-weight: lighter;
}

.read-button:hover {
  background-color: rgb(251, 219, 146);
  color: #ffff;
  font-weight: bold;
}

.container {
  margin-top: 5vh;
  font-size: 24px;
  font-weight: bolder;
  color: #2a4365;
  justify-content: center;
  text-align: center;
}

.contant-container {
  min-width: 950px;
  font-size: 18px;
  font-weight: 400;
  color: #2a4365;
  text-align: center;
}

.image-container {}